@media (max-width: 991px) {
    .advantage {
        padding: 40px 0 40px 0;
        &__items {
            margin-top: -10px;
            width: 776px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &__item {
            img {
                margin-top: 20px;
            }    
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo{
            width: 200px;
            img {
                width: 70%;
            }
        }
        &__official {
            font-size: 12px;
            line-height: 12px;
            color: #FFFFFF;
            span {
                display: block;
                font-weight: 500;
                font-size: 18px;
                line-height: 29px;
                color: #FFFFFF;
            }
        }
    }
}