@import 'base/variable';
* {
    font-family: 'Museo Sans', sans-serif;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantage';
@import 'base/media';
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/carousel';

.container {
    max-width: 950px;
    margin: 0 auto;
}
   