@import 'base/variable';
* {
    font-family: 'Museo Sans', sans-serif;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantage';

.container {
    max-width: 950px;
    margin: 0 auto;
}
   